<html>
<head>
  <title>Philadelphia Population Report</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

  <style>
    body {
      font-family: sans;
      display: grid;
      min-height: 100vh;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto 1fr 1fr;
      grid-template-areas:
        "header header"
        "map list"
        "map chart1"
        "map chart2";
      column-gap: 1rem;
      row-gap: 1rem;
    }
    h1 {
      grid-area: header;
    }
    #densitymap {
      grid-area: map;
      height: 100%;
    }
    #densitylist {
      grid-area: list;
    }
    #sexchart {
      grid-area: chart1;
    }
    #racechart {
      grid-area: chart2;
    }
  </style>
</head>

<body>
  <h1>Philadelphia Population Report</h1>

  <div id="densitymap"></div>

  <div id="densitylist">
    <p>The 5 most densely populated block groups are:</p>
    <ul>
      {%- for bg in listdata -%}
        <li>{{ bg.geo_id }} with a density of {{ bg.pop_density | round(4) }} people per sq. meter</li>
      {%- endfor -%}
    </ul>
  </div>

  <div id="sexchart"></div>

  <div id="racechart"></div>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"
   integrity="sha512-FHsFVKQ/T1KWJDGSbrUhTJyS1ph3eRrxI228ND0EGaEp6v4a/vGwPWd3Dtd/+9cI7ccofZvl/wulICEurHN1pg=="
   crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <script>
    /*

        MAP OF POP. DENSITY ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var initialCenter = [39.995, -75.134];  // <-- Latitude, Longitude
    var initialZoom = 11;
    var densitymap = L.map('densitymap', {
      zoomSnap: 0,
      zoomDelta: 0.25
    }).setView(initialCenter, initialZoom);

    var baseLayer = new L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-background/{z}/{x}/{y}{r}.{ext}', {
    	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
    	subdomains: 'abcd',
    	minZoom: 0,
    	maxZoom: 20,
    	ext: 'png'
    });
    baseLayer.addTo(densitymap);

    function getStyle(feature) {
      var scaledValue = feature.properties['binned_pop_density'] / 5.0;
      var interpolator = d3.interpolate('#e5f5f9', '#2ca25f')
      var featureColor = interpolator(scaledValue);

      return {
        color: featureColor,
        weight: 2,
        fillColor: featureColor,
        fillOpacity: 0.5
      };
    }

    var densitymapdata = {{ mapdata }};
    var dataLayer = L.geoJSON(densitymapdata, {
      style: getStyle
    });
    dataLayer.addTo(densitymap);

    /*

        CHART OF SEX ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var sexchartcategories = {{ chartdata['year'] }};
    var sexchartseries = [
      {
        name: 'Male',
        data: {{ chartdata['total_male_pop'] }}
      },
      {
        name: 'Female',
        data: {{ chartdata['total_female_pop'] }}
      },
    ];

    var sexchart = new ApexCharts(document.querySelector("#sexchart"), {
      chart: {
        type: 'bar',
        height: 200
      },
      series: sexchartseries,
      xaxis: {
        categories: sexchartcategories,
      }
    });
    sexchart.render();

    /*

        CHART OF RACE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    */
    var racechartcategories = {{ chartdata['year'] }};
    var racechartseries = [
        {
          name: 'White',
          data: {{ chartdata['total_white_pop'] }}
        },
        {
          name: 'Black',
          data: {{ chartdata['total_black_pop'] }}
        },
        {
          name: 'Asian',
          data: {{ chartdata['total_asian_pop'] }}
        },
        {
          name: 'Hispanic',
          data: {{ chartdata['total_hispanic_pop'] }}
        },
        {
          name: 'Amerindian',
          data: {{ chartdata['total_amerindian_pop'] }}
        },
        {
          name: 'Other_race',
          data: {{ chartdata['total_other_race_pop'] }}
        },
        {
          name: 'Two_or_more_races',
          data: {{ chartdata['total_two_or_more_races_pop'] }}
        },
    ];
    var racechart = new ApexCharts(document.querySelector("#racechart"), {
      chart: {
        type: 'bar',
        height: 200
      },
      series: racechartseries,
      xaxis: {
        categories: racechartcategories,
      }
    });
    racechart.render();
  </script>
</body>
</html>
